.DS_Store
pycache/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info
*.log
*.bak
*.swp
.env
venv/
virtualenv/
.cache/
node_modules/
dist/
build/
coverage/
*.sqlite3
Florence-2-base/
Florence-2-base-ft/
Florence-2-large/
Florence-2-large-ft/
outputs/